#!/usr/bin/env sh
unset GOPATH GOROOT
use flake

export PATH="$PWD/bin:$PATH"

# evaluate a .env file, if it exists
if [ -f .env ]; then
  set -a # assigning a variable exports the variable
  # shellcheck disable=SC1091
  . .env
  set +a
fi
